body{
    font-family: Arial;
}
caption{
    color: white;
    background-color: black;
    font-size: 20px;
}
table{
    border-collapse: collapse;
}
th, td{
    border: 2px solid black;
    padding: 15px;
}
.thead{
    background-color: grey;
    font-size: 25px;
    letter-spacing: 0.3em;
}